---
import { HEADER_LINKS } from '~/config'
import ThemeToggle from '~/components/theme/ThemeToggle'
import HeaderGradient from '~/components/theme/HeaderGradient.astro'
import SectionDivider from '~/components/base/SectionDivider.astro'
import HeaderLink from '~/components/base/HeaderLink.astro'
import SearchSwitch from '~/components/base/SearchSwitch.astro'
---

<HeaderGradient />
<header>
  <div class="mx-auto global-layout-width flex justify-between px-6 sm:px-8 py-4 lg:px-8">
    <div class="flex gap-3 sm:gap-6 items-center flex-shrink-0">
      <a href="/" class="pointer-events-auto select-none" transition:persist>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="28" viewBox="0 0 138 121" class="w-8 h-auto" aria-label="Logo">
          <path fill="hsl(var(--foreground))" d="M21.74 107.42h23.87v12.95H7.9V64.16h13.84v43.26Zm64.15-30.31H62.17v8.45H83.8v12.95H62.17v8.91h24.17v12.95H48.32V64.16h37.57v12.95Zm17.6-12.95v18.77l15.33-18.77h17.87l-23.47 27.73 24.23 28.48h-18.26l-15.7-19.22v19.22H89.65V64.16h13.84ZM111.18 0c7.06 0 12.79 2 17.03 5.94 4.29 3.98 6.46 9.68 6.46 16.94v12.53c0 7.26-2.18 12.96-6.46 16.94-4.25 3.94-9.97 5.94-17.03 5.94-7.06 0-12.79-2-17.03-5.94-4.29-3.98-6.46-9.68-6.46-16.94V22.88c0-7.26 2.18-12.96 6.46-16.94C98.4 2 104.13 0 111.18 0Zm-86.9 42.54 9.98-41.5h14.3l-14.3 56.22H14.29L0 1.04h14.29l9.99 41.5Zm39.82 1.77h23.87v12.95H50.25V1.04H64.1v43.27Zm47.07-31.51c-3.09 0-5.41.85-7.1 2.6-1.7 1.77-2.53 4.12-2.53 7.19v13.13c0 3.07.82 5.42 2.53 7.19 1.68 1.75 3.96 2.6 7.1 2.6 3.14 0 5.47-.85 7.13-2.59 1.69-1.77 2.51-4.12 2.51-7.2V22.59c0-3.08-.82-5.43-2.51-7.2-1.66-1.74-4.04-2.59-7.13-2.59Z"/>
        </svg>
      </a>
      <div class="flex gap-1">
        {
          HEADER_LINKS.map((link) => (
            <HeaderLink href={link.url} background>
              {link.name}
            </HeaderLink>
          ))
        }
      </div>
    </div>
    <div class="flex gap-2 items-center" transition:persist="header-theme-toggle">
      <SearchSwitch />
      <ThemeToggle client:load />
    </div>
  </div>
  <div class="relative global-layout-width mx-auto pointer-events-none">
    <div aria-hidden="true" class="absolute inset-x-0 -top-14 bottom-0 mx-auto global-layout-width">
      <div class="to-(--color-border)/50 absolute bottom-0 left-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
      <div class="to-(--color-border)/50 absolute bottom-0 right-0 top-0 w-px bg-gradient-to-b from-transparent to-75%"></div>
    </div>
  </div>
</header>

<SectionDivider className="border-t-border dark:border-t-border/50" />
